{% extends 'core/base.html' %}

{% block content %}
  {% if userprofile.is_tutor %}
    <div class="container-lg mt-5 col-10">
      <div class="row justify-content-center align-items-center">
        <h1>
          <img class="img-fluid rounded-circle" style="width: 90px; height: 90px;" src="{{ userprofile.image.url }}" alt="">  Hi {{ request.user.username }} !</h1>
         </h1>
      </div>
      <div class="row">
        <div class="col">
          <a href="{% url 'profile' %}" class="btn btn-primary mt-1">Update profile</a>
        </div>
      </div>

      <div class="row mt-5">
        <h2 class="text-muted">{% if request.user.bookings_received.all %} Check the bookings {% else %} You have received any booking yet. {% endif %}</h2>
      </div>
    </div>

    <div class="container col-lg-10">
      {% if request.user.bookings_received.all %} 
      <div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tutee</th>
              <th scope="col">Subject</th>
              <th scope="col">Session Date</th>
              <th scope="col">Start time</th>
              <th class="col">End Time</th>
              <th class="col">Created Time</th>
              <th class="col">View Booking</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in  request.user.bookings_received.all %}
              <tr>
                <th scope="row" class="align-middle">{{ forloop.counter }}</th>
                <td class="align-middle"><img class="rounded-circle account-img" src="{{ booking.tutee.userprofile.image.url }}" style="width: 40px; height: 40px;"/>
                  {{ booking.tutee.username }}</td>
                <td>{{ booking.subject }}</td>
                <td>{{ booking.date }}</td>
                <td>{{ booking.start_time }}</td>
                <td>{{ booking.end_time }}</td>
                <td>{{ booking.created_at|date:"M. j, Y" }}</td>
                <td><a href="{% url 'view_booking' booking.id %}">Click to View</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  {% else %}
    <div class="container-lg mt-5 col-10">
      <div class="row justify-content-start align-items-center">
          <div class="col-md-8 text-center text-md-start">
            <h1>
              <img class="img-fluid rounded-circle" style="width: 90px; height: 90px;" src="{{ userprofile.image.url }}" alt=""> Hi {{ request.user.username }}!
            </h1>
            <div class="row">
              <div class="col">
                <a href="{% url 'profile' %}" class="btn btn-primary mt-1">Update Profile</a>
              </div>
            </div>
            <h2 class="text-muted mt-5">{% if request.user.bookings_made.all %} Check the bookings {% else %} You haven't made any booking yet. {% endif %}</h2>
          </div>
      </div>
    </div>

    <div class="container col-lg-10">
      {% if request.user.bookings_made.all %} 
      <div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tutor</th>
              <th scope="col">Subject</th>
              <th scope="col">Session Date</th>
              <th scope="col">Start time</th>
              <th class="col">End Time</th>
              <th class="col">Created Time</th>
              <th class="col">View Booking</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in  request.user.bookings_made.all %}
              <tr>
                <th scope="row" class="align-middle">{{ forloop.counter }}</th>
                <td class="align-middle"><img class="rounded-circle account-img" src="{{ booking.tutor.userprofile.image.url }}" style="width: 40px; height: 40px;"/>
                  {{ booking.tutor.username }}</td>
                <td>{{ booking.subject }}</td>
                <td>{{ booking.date }}</td>
                <td>{{ booking.start_time }}</td>
                <td>{{ booking.end_time }}</td>
                <td>{{ booking.created_at|date:"M. j, Y" }}</td>
                <td><a href="{% url 'view_booking' booking.id %}">Click to View</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}