{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5 col-6">
  <h1 class="title mb-4">View booking info</h1>
  <div class="mb-5 rounded border p-3">
    <p><b>Tutee: </b>{{ booking.tutee.username }}</p>
    <p><b>Tutor: </b>{{ booking.tutor.username }}</p>
    <p><b>Subject: </b>{{ booking.subject }}</p>
    <p><b>Start time: </b>{{ booking.start_time }} and end time: {{ booking.end_time }}</p>
    <p><b>Date: </b>{{ booking.date }}</p>
  </div>

  {% if booking.conversationmessages.all %}
    <h2>Messages:</h2>
  {% else %}
    <p>No message yet.</p>
  {% endif %}
  {% for message in booking.conversationmessages.all %}
    <div class="row">
      <div class="col col-lg-1">
        <img class="rounded-circle account-img" src="{{ message.created_by.userprofile.image.url }}" style="width: 40px; height: 40px;"/>
      </div>
      <div class="col ">
        <div class="rounded border mb-1">
          <span class="p-1"><strong>@{{message.created_by.username}}</strong> <span class="text-muted">sent {{message.created_at|timesince}} ago</span></span>
          <div class="p-1">{{ message.content }}</div>
        </div>
      </div>
    </div>
  {% endfor %}

  <form action="." method="post">
    {% csrf_token %}
    <div>
      <textarea name="content" class="form-control mt-2" placeholder="Send new message..."></textarea>
    </div>
    <div>
      <button class="btn btn-primary mt-3">Send</button>
    </div>
  </form>
</div>
{% endblock %}