{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <div class="container-lg col-lg-4 my-5">
    <div>
      <div class="text-center">
        <h1>Log in</h1>
      </div>
    </div>

    <div class="my-5">
      <div class="card" style="width: 30rem;">
        <img src="{% static 'core/images/bar.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100" >Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}