{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container col-lg-4 border rounded p-3 mt-5">
    <h1 class="text-center">Sign Up</h1>
    <form action="." method="post">
      {% csrf_token %}
      {{ form|crispy }}

      <select name="account_type"  class="form-select" style="width: 150px;">
        <option value="tutee" selected>Tutee</option>
        <option value="tutor">Tutor</option>
      </select>

      <button class="btn btn-primary mt-3">Sign Up</button>
    </form>
  </div>
{% endblock %}