{% extends 'core/base.html' %}

{% block content %}
  <div class="container mt-5 col-lg-6">
    <h1 class="title">Check new notifications</h1>
    <div class="row">
      {% if notifications %}
      <ul class="list-group list-group-flush my-5">
        {% for notification in notifications %}
        <li class="list-group-item">
          <img class="rounded-circle account-img" src="{{ notification.created_by.userprofile.image.url }}" style="width: 40px; height: auto;"/>
          <strong>{{ notification.created_by.username }}</strong> 
          {% if notification.notification_type == 'message' %}
            sent you a message
          {% elif notification.notification_type == 'booking' %}
            booked a session
          {% endif %}
          <small>{{ notification.created_at|timesince }} ago</small>
          <a href="{% url 'notifications' %}?goto=view_booking&notification={{notification.id}}">
            Click to View
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
        <p class="mt-3">No new notification yet.</p>
      {% endif %}
    </div>  
    
  </div>
{% endblock %}